<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BespokedBikes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BespokedBikes.styles.css" asp-append-version="true" />


</head>
<body>
    <header>
         <nav class="navbar navbar-expand-lg fixed-top" id="mainNav" style="background-color: #222629">
            <div class="container px-4">
                <img src = "\images\bespokeimg.jpg" width = "50"; height="30" style="margin-left:2px; margin-right:2px"/>
                <a class="navbar-brand"  asp-area = "" asp-controller="Home" asp-action = "Index" style="color: #EEEEEE" >Bespoke Bikes</a>
                    <ul class="navbar-nav ms-auto">

                        <a class= "nav-link" asp-area = "" asp-controller="Home" asp-action = "Index" asp-fragment = "salespeople" style="color: #EEEEEE">Sales People </a>
                        <a class= "nav-link" asp-area = "" asp-controller="Home" asp-action = "Index" asp-fragment = "products" style="color: #EEEEEE">Products </a>
                        <a class= "nav-link" asp-area = "" asp-controller="Home" asp-action = "Index" asp-fragment = "customers" style="color: #EEEEEE">Customers </a>
                        <a class= "nav-link" asp-area = "" asp-controller="Home" asp-action = "Index" asp-fragment = "sales" style="color: #EEEEEE">Sales </a>

                    </ul>
                </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BespokedBikes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
